@charset "UTF-8";


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #c5eba6;
    --cor2: #83e1ad;
    --co3:  #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    
    --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c5eba6;
    font-family: var(--fonte-padrao);
}
header{
background-image: linear-gradient(to bottom, var(--cor4), var(--cor5), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.521);
}
header > p { 
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
     color: white;
     max-width: 500px;
     padding-left: 10px;
     padding-right: 10px;
     margin: auto;
     text-shadow: 0px 0px 2px rgba(48, 46, 46, 0);
}
nav{
    background-color:#83e1ad;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.411);
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}
nav > a:hover {
    background-color: #063d1e;
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
     margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main h1 {
  color: #063d1e;
}

main h2 {
    font-family: var(--fonte-android);
    color: #1a5c37;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor4), transparent);
    line-height: 8px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;

}
main strong {
    color: #063d1e;
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: #1a5c37;
    background-color: #3ddc84;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: blue;
}
main img {
    width: 100%;
}
main img.piquena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.vidio{
    background-color: #2fa866;
    padding: 5px;
    position: relative;
}
video{
   top: 10px;
   left: 10px;
   width: 100%;
   height: 100%;
}

aside{
    background-color: #3ddc84;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
}
aside > h3 {
    background-color: #063d1e;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    padding: 5px;
}
footer a:hover {
         text-decoration: underline;
         color: #83e1ad;
}